// bower:scss
// endbower

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
  display:block!important;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove {
  line-height:0;
  opacity:0;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
  background:white;
}

* {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.data {
  font-size: 80%;
  color: #ccc;
  margin-top: 8px;
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  text-align:right;
}

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  width: 100%;
  max-width: 500px;
  margin: 0px auto;

  .container {
    margin: 5px 0px;
    p {
      margin: 5px;
    }
  }

  .post-rank {
    width: 130px;
    height: 24px;
    display: inline-block;
    margin-bottom: 10px;
  }

  .star-count-1 {
    background: url(../images/1-star-260x48.png) no-repeat 0px 0px;
    background-size: cover;
  }
  .star-count-2 {
    background: url(../images/2-stars-260x48.png) no-repeat 0px 0px;
    background-size: cover;
  }
  .star-count-3 {
    background: url(../images/3-stars-260x48.png) no-repeat 0px 0px;
    background-size: cover;
  }
  .star-count-4 {
    background: url(../images/4-stars-260x48.png) no-repeat 0px 0px;
    background-size: cover;
  }
  .star-count-5 {
    background: url(../images/5-stars-260x48.png) no-repeat 0px 0px;
    background-size: cover;
  }

  .businessinfo {
    color: rgb(170, 170, 170);
  }

  .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    /*
    &:before {
      content: "";
      width: 130px;
      height: 24px;
      display: inline-block;
      position: absolute;
      z-index: 1;
    }
    &.star-1:before {
      content: "";
      background: url(../images/1-star-260x48.png) no-repeat 0px 0px;
      background-size: cover;
    }
    &.star-2:before {
      content: "";
      background: url(../images/2-stars-260x48.png) no-repeat 0px 0px;
      background-size: cover;
    }
    &.star-3:before {
      content: "";
      background: url(../images/3-stars-260x48.png) no-repeat 0px 0px;
      background-size: cover;
    }
    &.star-4:before {
      content: "";
      background: url(../images/4-stars-260x48.png) no-repeat 0px 0px;
      background-size: cover;
    }
    &.star-5:before {
      content: "";
      background: url(../images/5-stars-260x48.png) no-repeat 0px 0px;
      background-size: cover;
    }
    */
    & > span  {
      display: inline-block;
      position: relative;
      background: url(../images/1-star-260x48.png) no-repeat -53px 0px;
      background-size: cover;
      width: 24px;
      height: 24px;
      margin: 0px 1px;
    }

    & > span:hover:before,
    & > span:hover ~ span:before {
      content: "";
      background: url(../images/5-stars-260x48.png) no-repeat 0px 0px;
      background-size: cover;
      position: absolute;
      margin-right: -12px;
      width: 24px;
      height: 24px;
    }

  }
  form {
    input {
      margin-left: -3px;
    }
    textarea {
      resize: none;
      &:last-of-type {
        margin-left:4px;
      }
    }
    input, textarea {
      width: 450px;
    }
  }
  .review-section {
    max-height: 300px;
    overflow-y: auto;
    background: rgba(1,1,1,0.1);
    margin-top: 20px;
    .review {
      position: relative;
      background: #fff;
      overflow: hidden;
      padding: 17px;
      margin: 20px 10px 0;
      border-radius: 5px;
      -webkit-box-shadow: 0 4px 4px -5px #c8c8c8;
      box-shadow: 0 4px 4px -5px #c8c8c8;
      p {
        margin:0px;
        text-align:left;
      }
      .rating {
        width: 130px;
        height: 24px;
        display:block;
        margin:5px 0px;
      }

    }
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
