<div class="jumbotron">
  <p class="lead">
    <p>
      <span class="businessinfo">{{reviews.length}} reviews of</span>
      <img src="images/trustpilot-logo-light-bg-120x18.png" alt="Trustpilot">
    </p>

    <div ng-model="post" class="rating ranking-{{post.starRating}}">
      <span ng-model="post" data-ng-repeat="starRating in stars | reverse" ng-click="rank(starRating)"></span>
    </div>
    <p><strong>{{post.reviewTitle}}</strong></p>
    <p data-ng-bind="post.reviewBody"></p>

  <p data-ng-hide="post">Enter your own review</p>
  <form>
    <textarea rows="1" placeholder="Your Review" type="text" name="title" data-ng-model="post.reviewTitle"></textarea>
    <textarea data-ng-show="post.reviewTitle" placeholder="Review" novalidate data-ng-model="post.reviewBody"></textarea>
    <textarea data-ng-show="post.reviewBody" rows="1" placeholder="Firstname" novalidate data-ng-model="post.firstName"></textarea>
    <textarea data-ng-show="post.firstName" rows="1" placeholder="Lastname" novalidate data-ng-model="post.lastName"></textarea>
    <textarea data-ng-show="post.lastName" rows="1" placeholder="Location" novalidate data-ng-model="post.location"></textarea>
    <br /><br />
    <button type="button btn" ng-click="addReview(post)">Submit</button>
  </form>
  <div ng-hide="post" class="review-section">
    <div class="review" data-ng-repeat="review in reviews | limitTo:quantity | orderBy: 'time' ">
      <p>{{review.firstName + ' '+review.lastName}}</p>
      <div class="rating star-count-{{review.starRating}}" ng-class=""></div>
        <span class="data">{{review.time}} hrs ago</span>

      <p><strong>{{review.reviewTitle | characters:25 }}</strong></p>
      <p>{{review.reviewBody | characters:25}}</p>
    </div>
  </div>

</div>
